/* started the whole css to accomidate  */
.parent-container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  justify-content: center;
  /* grid-template-rows: 30% 30% 30%; */
}
.a1 {
  /* grid-column-start: 1;
        grid-column-end: 2; */
  background-color: aqua;
}
.a2 {
  /* grid-column-start: 2;
        grid-column-end: 3; */
  background-color: aliceblue;
}
.a3 {
  /* grid-column-start: 3;
        grid-column-end: 4; */
  background-color: antiquewhite;
}
/* this is the responsve side of the website */

/*  */
@media (min-width: 768px) {
  .parent-container {
    /* display: grid; */
    grid-template-columns: 30% 30% 30%;
  }
  .grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: aqua;
  }
  .grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: aliceblue;
  }
  .grid-item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: antiquewhite;
  }
}

@media (min-width: 1024px) {
  .parent-container {
    grid-template-columns: 30% 30% 30%;
  }
  .grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
  }
  .grid-item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: aliceblue;
    grid-row: span 2;
  }
  .grid-item-3 {
    grid-column-start: 2;
    grid-column-end: 4;

    background-color: antiquewhite;
  }
  /* .grid-item-4 {
  } */
  .grid-item-5 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .grid-item-6 {
    grid-column-start: -1;
    grid-column-end: -4;
  }
}

video {
  width: 110%;
  height: auto;
  top: 0;

  /* justify-content: center; */
}
img {
  height: auto;
  width: 100%;
  justify-content: center;
}

#gridItem3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 5px;
}

#gridItem3 img {
  height: auto;
  width: 100%;
}
/*
.newsCard {
    display: grid;
    height: 200px;
    width: 200px;
    display: inline;
    
}
*/
.div-container {
  position: relative;
  text-align: center;
  color: white;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
