/* started the whole css to make it  */
.parent-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-content: center;
  max-width: 100vw;

  /* grid-template-rows: 30% 30% 30%; */
}
h1 {
  position: absolute;
  top: 80%;
  left: 50%;
  color: white;
  opacity: 85%;
  font-size: 1.2em;
  text-shadow: 5px 5px 5px black;
  transform: translate(-50%, -50%);
}

/* media responsive limit */
@media (min-width: 768px) {
  .parent-container {
    grid-template-columns: 30% 30% 30%;
  }
  .grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1%;
    font-size: 125%;
    background-color: white;
  }
  .grid-item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    /* grid-row: span 1; */
  }
  .grid-item-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: white;
  }

  .grid-item-6 {
    grid-column-start: -1;
    grid-column-end: -4;
    padding: 2%;
    background-color: white;
  }
  /* trying to make image smaller when responsive
  #drink-image {
		height: auto;
		width: 50%;
		justify-content: center;
  } */
  button {
    position: relative;
    left: 50%;
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    opacity: 85%;
    font-size: 300%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 5px black;
  }
}
/* header video */
video {
  width: 100%;
  height: auto;
}
/* news letter card*/
#gridItem3 img {
  justify-items: center;
  /* height: auto;
	width: 100%; */
  /* max-width: auto; */
  max-height: 300px;
  /* min-height: 300px;
	min-width: auto; */
}
.img-holder {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsCard {
  display: grid;
  height: auto;
  width: 100%;
  /*  display: inline;    */
  transition: 0.3s;
  max-width: 100vw;
}

.newsCard:hover,
.drink-card:hover {
  padding: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: -1px 1px #e5e5e5, -2px 2px #e5e5e5, -3px 3px #e5e5e5,
    -4px 4px #e5e5e5, -5px 5px #e5e5e5;
  border-radius: 3px;
}

/* this is for the video and tittle */
.div-container {
  position: relative;
  text-align: center;
}

/*navigation bar*/
h2 {
  background-color: black;
  padding: 30px;
  margin: 0%;
}
.list:hover {
  font-size: 1.25em;
}

#drink-image {
  height: auto;
  width: 100%;
  justify-content: center;
}
#drink-info {
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  list-style-type: none;
  text-align: center;
  line-height: 150%;
}
#drink-button {
  justify-content: center;
  padding: 0.46em 1.6em;
  border: 0.1em solid black;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: ‘Roboto’, sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.04em 0.04em black;
  background-color: black;
  text-align: center;
  transition: all 0.15s;
}
button {
  position: relative;
  left: 20%;
}

/* This is for the food grid */
#gridItem2 {
  padding: 15px;
}

#gridItem3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3%;
}

@media screen and (max-width: 768px) {
  #gridItem3 {
    display: grid;
    grid-template-columns: 1fr;
    /* column-gap: 3%; */
  }
}

/* this will take the margins off around the website */
body {
  margin: 0;
}
/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list {
  display: inline;
  padding: 2.5%;
}
a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 60%;
}
/* body {
	font-family: 'Cardo', serif;
}
h1,
h2,
h4 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
} */
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1,
h2,
h4 {
  font-family: "Prata", serif;
}
html {
  background-color: #f1f1f1;
}
.grid-item-6 {
  color: #e5e5e5;
  background-color: black;
}
